/************************************/
/* CUSTOM PROPERTIES */
/************************************/
@use "functions" as f;
/*** Fonts ***/
$font-primary: "Rubik", sans-serif;
$fs-xl: f.rem(30);
$fs-l: f.rem(26);
$fs-m: f.rem(18);
$fs-d: f.rem(16);
$fs-s: f.rem(14);
$fs-xs: f.rem(12);
/*** Colors ***/
$clr-primary: hsl(199, 18%, 23%);
$clr-primary-light: hsl(200, 9%, 38%);
$clr-primary-dark: hsl(200, 19%, 18%);
$clr-secondary: hsl(0, 0%, 20%);
$clr-secondary-light: hsl(0, 0%, 40%);
$clr-secondary-lightest: hsl(0, 0%, 60%);
$clr-tertiary: hsl(191.1, 57.5%, 50.2%);
$clr-tertiary-light: hsl(191.1, 57.5%, 60.2%);
$clr-tertiary-dark: hsl(191.1, 57.5%, 40.2%);
$clr-white: #fff;
$bg-primary: hsl(30, 16%, 90%);
$bg-secondary: hsl(0, 0%, 94.9%);
$bg-tertiary: hsl(205.7, 17.9%, 92.4%);
/*** Transitions ***/
$transition-fast: 300ms;
$transition-medium: 600ms;
$transition-slow: 900ms;
$transition-slowest: 1200ms;
/*** Box Shadows ***/
$bs-light: 0 5px 15px rgba($clr-primary, 0.2);
$bs-lightest: 0 5px 10px rgba($clr-primary, 0.2);
